html, body {
    font-family: 'Lato', sans-serif;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background: linear-gradient(to bottom, rgba(125, 126, 125, 0.8) 0%, rgba(14, 14, 14, 0.8) 100%), url('https://raw.githubusercontent.com/BlackrockDigital/startbootstrap-creative/master/img/bg-masthead.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-item {
    height: 100vh;
    min-height: 500px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-caption{
    height: 100vh;
}

.masthead h1 {
    font-weight: 900 !important;
    font-size: 3rem !important;
}

.showcase-text {
    padding-top: 3rem !important;
    padding-right: 3rem !important;
    padding-bottom: 3rem !important;
    padding-left: 3rem !important;
}

.showcase-img {
    min-height: 30rem;
    background-size: cover;
}

@media (min-width: 768px) {
    .showcase-text {
        padding-top: 7rem !important;
        padding-right: 7rem !important;
        padding-bottom: 7rem !important;
        padding-left: 7rem !important;
    }
}

textarea {
    height: 10rem !important;
}

.font-weight-bold {
    font-weight: 900 !important;
}